.themeBtn {
  margin: 0 10rem;
  background: transparent;
  border: none;
  font-size: 3rem;
  color: #4c9757;
  transition: all 0.1s ease-in-out;
}

.themeBtn:hover {
  color: #61bb6e;
}

.themeBtn:hover {
  cursor: pointer;
}
