.themeBtn {
    margin: 0 10rem;
    background: transparent;
    border: none;
    font-size: 3rem;
    color: #4C9757;
}

.themeBtn:hover {
    color: #61bb6e;
}

.themeBtn:hover {
    cursor: pointer;
}