.container {
  display: flex;
  height: 4rem;
  background: #4c9757;
  width: 5rem;
  border-radius: 5px;
  margin: 0 10rem;
  padding: 0 1rem 0 0;
}

.btn {
  background: transparent;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.value {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  background: #4c9757;
  border-radius: 5px;
}
