.container {
    display: flex;
    height: 4rem;
    background: #4C9757;
    width: 5rem;
    border-radius: 5px;
    margin: 0 10rem;
}

.btn {
    background: transparent;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 2rem;
}

.btn:hover {
    cursor: pointer;
}

.value {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    background: #4C9757;
    border-radius: 5px;
}