.container {
  background-image: url("../images/map.svg"); /* fallback */
  background-image: linear-gradient(#fafafa9f, #fafafa9f),
    url("../images/map.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.properties {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3rem;
}
