@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #fafafa;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #4c9757;
  border-radius: 10px;
  min-height: 6rem;
}

html,
body,
#root,
.App {
  height: 100%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #222;
}

.showContent {
  animation: display 0.1s forwards;
}

.hideContent {
  animation: hide 0.05s forwards;
}

.expanded {
  visibility: visible;
  transform: translateX(0);
  transition: 0.1s ease;
}

.shrunk {
  visibility: hidden;
  transform: translateX(999px);
  transition: 0.3s ease;
}

.favorited {
  color: #4c9757;
}

.unfavorited {
  color: #222;
}

@keyframes display {
  from {
    transform: translateY(-1rem);
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes hide {
  from {
    transform: translateY(0);
    visibility: visible;
  }

  to {
    transform: translateY(-1rem);
    visibility: hidden;
  }
}
