.cell {
  text-align: center;
  font-size: 2rem;
  padding: 2.5rem 1rem;
  border-bottom: 2px solid #4c9757;
  color: #222;
}

.cell a {
  transition: all 0.1s ease-in-out;
}

.cell a:hover {
  color: #4c9757;
}

.row:last-child .cell {
  border-bottom: none;
}

.img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.3);
}

.button {
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #4c9757;
  border: none;
  color: white;
  font-size: 2rem;
  margin: auto;
  display: block;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background: #61bb6e;
}

.button:hover {
  cursor: pointer;
}

.list {
  list-style-type: none;
}
